
        <h1>Sign up</h1>

    <form method="post" action="/signup" class="mui-form"> 
        <input type="text" placeholder="Full Name" name="full_name" id="fullname"/>
        <input type="text" placeholder="Username" name="username" id="username" required/> 
        <input type="email" placeholder="Email" name="email" id="email" required/>
        <input type="password" placeholder="Password" name="password" id="password" required/>
        <h3>Are you an workshop leader?</h3>
        <label><input type="radio" name="instructor" value="yes" />Yes</label>
        <label><input type="radio" name="instructor" value="no" checked />No</label>
        <button type="submit" class="mui-btn mui-btn--primary">Create User</button>
    </form>

        <% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% end %>