
<h1>Welcome to LabInfo</h1>

<h3>If you already have an account, click here</h3>
<p><a href="/login">Log In Here</a></p>
<h3>If you are not yet a member, click here</h3>
<p><a href="/signup">Sign Up Here</a></p>