
<h1>Welcome to LabInfo</h1>

<h3>A socio-technical environment that creates habits and offers the necessary tools to lead the creative child towards the adult capable of participating actively and shaping his environment.</h3>