<!DOCTYPE html>
<html>
  <head>
    <title>LabInfo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.18/js/mui.min.js"></script>
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css" />

    <style>
      body {
      background: url("/images/labinfo.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
    }
    </style>
  </head>

  <body class="body" style="padding:100px;">
    <div style="height:700px; background-color:rgba(255,255,255,0.8);">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
<% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%=current_user.id%>/edit">Update my account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">View users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/workshops">View workshops</a>
          </li>

<% if current_user.workshop_leader%>
          <li class="nav-item">
            <a class="nav-link" href="/workshops/new">Create new workshop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teaching">My workshops</a>
          </li>
<%else%>
          <li class="nav-item">
            <a class="nav-link" href="/enrolled">My enrollment</a>
          </li>
<%end%>
<% end %>
        </ul>
        <div>
        <% if !(logged_in?) %>
            <a href="/login" type="button" class="btn btn-primary">Login</a>
            <a href="/signup" type="button" class="btn btn-primary">Signup</a>
          <% else %>
          <a href="/logout" type="button" class="btn btn-info btn-sm">Logout</a>
          <% end %>
        </div>
      </div>
    </nav>
      <div class="mui-container">
        <%= yield %>
      </div>
      </div>


      <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">©LabInfo 2019 Copyright:
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </body>
</html>